/* Ini File CSS */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    border: 50%;
    height: 50px;
    width: 50px;
    background-image: url (https: //picsum .photos/ 200px;);
    background-size: cover;
    background-position: center;
    
}

nav>a {
    border: 1px solid;
    padding: 8px;
    color: black;
    text-decoration: none;
}

.left-rounded {
    border-radius: 6px 0 0 6px;
}

.right-rounded {
    border-radius: 0px 6px 6px 0;
}

nav {
    display: flex

}

.banner-image {
    border: 1px solid;

}

.content {
    height: 500px;

}

.footer {

}

